<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Question</h3>
	</div><!-- /.box-header -->
	<div class="box-body">		
	    {{question-form questionModel=model noa=numberOfAnswers buttonLabel=buttonLabel saveQuestion='saveQuestion' selectCategory='selectCategory' selectAnswerType='selectAnswerType' addAnswer='addAnswer'}}     		    
	</div><!-- /.box-body -->
</div><!-- /.box -->