<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Category</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
	    {{category-form category=model buttonLabel=buttonLabel action='updateCategory'}}     	 	    
	</div><!-- /.box-body -->
</div><!-- /.box -->