<div class="wrapper">
 	{{partial 'header'}}
 	{{partial 'aside'}}
 	<!-- Content Wrapper. Contains page content -->
 	<div class="content-wrapper">
 		{{outlet}}
 	</div><!-- /.content-wrapper -->
 	{{partial 'footer'}} 	
 </div>